{% extends "app/layout.html" %}

{% block body %}
<div class="container">
    <div class="content">
        <div class="learn_buttons--contain">
            <button class="learn_buttons" id="buttonpage1" data-page="page1">Symptoms</button>
            <button class="learn_buttons" id="buttonpage2" data-page="page2">Prevention</button>
        </div>
        <div class="learn_content" id="page1">
        <h1>COVID-19 affects different people in different ways. Most infected people will develop mild to moderate illness and recover without hospitalization.</h1>
        <br>
        <h3>Most common symptoms:</h3>
            <ul>
                <li>fever</li>
                <li>dry cough</li>
                <li>tiredness</li>
            </ul>
        <br>
        <h3>Less common symptoms:</h3>
            <ul>
                <li>aches and pains</li>
                <li>sore throat</li>
                <li>diarrhoea</li>
                <li>conjunctivitis</li>
                <li>headache</li>
                <li>loss of taste or smell</li>
                <li>a rash on skin, or discolouration of fingers or toes</li>
            </ul>
        <br>
        <h3>Serious symptoms:</h3>
        <ul>
            <li>difficulty breathing or shortness of breath</li>
            <li>chest pain or pressure</li>
            <li>loss of speech or movement</li>
        </ul>
        <br>
        <p>Seek immediate medical attention if you have serious symptoms. Always call before visiting your doctor or health facility.</p>
        <br>
        <p>People with mild symptoms who are otherwise healthy should manage their symptoms at home.</p>
        <br>
        <p>On average it takes 5–6 days from when someone is infected with the virus for symptoms to show, however it can take up to 14 days.</p>
        <br><br>
        <p class="learn_reference">Information courtesy of <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/question-and-answers-hub/q-a-detail/q-a-coronaviruses#:~:text=symptoms">WHO</a></p>    
    </div>
        <div class="learn_content" id="page2">
            <h1>Protect yourself and others around you by knowing the facts and taking appropriate precautions. Follow advice provided by your local health authority.</h1>
            <br>
            <h3>To prevent the spread of COVID-19:</h3>
            <ul>
                <li>Clean your hands often. Use soap and water, or an alcohol-based hand rub.</li>
                <li>Maintain a safe distance from anyone who is coughing or sneezing.</li>
                <li>Wear a mask when physical distancing is not possible.</li>
                <li>Don’t touch your eyes, nose or mouth. </li>
                <li>Cover your nose and mouth with your bent elbow or a tissue when you cough or sneeze.</li>
                <li>Stay home if you feel unwell.</li>
                <li>If you have a fever, cough and difficulty breathing, seek medical attention.</li>
            </ul>
            <br>
            <p>Calling in advance allows your healthcare provider to quickly direct you to the right health facility. This protects you, and prevents the spread of viruses and other infections.</p>
            <br>
            <h3>Masks</h3>
            <p>Masks can help prevent the spread of the virus from the person wearing the mask to others. Masks alone do not protect against COVID-19, and should be combined with physical distancing and hand hygiene. Follow the advice provided by your local health authority.</p>
            <br><br>
        <p class="learn_reference">Information courtesy of <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/question-and-answers-hub/q-a-detail/q-a-coronaviruses#:~:text=symptoms">WHO</a></p>
        </div>
    </div>
</div>
{% endblock %}
